/* Header section */
/* Give the header its flexbox styling to look better on smaller screens */
header {
    display: flex;
    flex-direction: column;
}

/* Remove the list styling and make the links displau inline */
#nav-links, li {
    list-style: none;
    display: inline-block;
}
 
/* Hero component */
/* Give the hero section a border top to show it's separate to the nav */
.hero-section { border-top: dashed 1px var(--black); }
 
/* Footer section */
/* Allow the footer to position itself under the content of each page. */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}
  
/* Blog post component */
/* Give the parent element some flexbopx styling to order themselves nicely */
.blog-post {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-radius: 25px;
}
.blog-post, h1, p, a {
    margin: 10px;
}

/* CTA component */
/* Make the component stay in the center of the page */
#cta-form {
    width: 400px;
    margin: auto;
    width: 50%;
}