/* Header section */
header {
    display: flex;
    flex-direction: column;
}
  
#nav-links, li {
    list-style: none;
    display: inline-block;
}
 
/* Hero component */
.hero-section {
    border-top: dashed 1px var(--black);
}
 
/* Footer section */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}
  
/* Blog post component */
.blog-post {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-radius: 25px;
}
.blog-post, h1, p, a {
    margin: 10px;
}
  
@media only screen and (max-width: 1220px) {
    .blog-post {
      flex-flow: column wrap;
    }
}